body {
    font-family: Arial, sans-serif;
    background-image: url('https://plus.unsplash.com/premium_photo-1681487767138-ddf2d67b35c1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YW5hbHlzaXN8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    height: 100vh;

}

h2 {
    color: #333;
}

img {
    border-radius: 8px;
}
